.media-renderer {
  width: 100%;
  height: 100%;
  object-fit: var(--object-fit, cover);
  object-position: var(--object-position, center);
  transform: scale(var(--scale, 1));
  transform-origin: center center;
  display: block;
}

